@import url(http://fonts.googleapis.com/css?family=New+Rocker);
H1{
    font-family: "New Rocker";
    font-size: 250%;
    background-color: #9e9e9e;
    background-image: linear-gradient(to bottom, #9e9e9e, #454545);
   }

Body{
    background: url(silver_knight_by_rizarizis-d6ww9zt.gif);
    background-size: 100%;
    font-family: "New Rocker";
    font-size: 125%;
    height: 2000px;
}

p {
    color: springgreen;
}

div{
    color:orangered;
}

abbr{
    color: blue;
}

a:hover{
    font-size:200%;
    padding: 0px 250px 250px 0px;
    background: url(dragon_battle_by_sigbjornpedersen-d6xox26.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

tr:nth-child(even){
    background-color:yellow;
    color: red;
}

tr:nth-child(odd){
    background-color: red;
    color: yellow;
}

tr:nth-child(1){
    color: springgreen;
    background-color: darkcyan;
}

#Draak {
    text-align: center;
    color: yellow;
}
#Draak:hover{
    background: url(dragon_battle_by_sigbjornpedersen-d6xox26.jpg);
    display: block;
    margin: auto;
    padding:0px 0px 750px 0px;
    background-size: cover;
    transform: rotate(1080deg);
    transition: transform 5s;
}



#Dragon1 {
    display: block;
    margin: auto;
    opacity: 0.2;
}
    #Dragon1:hover{
    transform: rotate(-360deg);
        transition: transform 2.5s;
}

#table{
    margin: auto;
    opacity: 0.4;
}

#LoremIpsum {
    font-size: 125%;
    color: red;
    letter-spacing: 10px;
    text-shadow: 0.08em 0em 0em yellow;
    opacity: 0.65;
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 350%;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(10deg) rotateY(5deg);

}